.educationSection {
    padding: 4rem 2rem;
    background-color: #0B0B0B;
    color: white;
}

.project_container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4rem;
}

.section_title {
    margin-bottom: 2rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section_title .underline {
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
}

.education_card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    max-width: 800px;
    margin: auto;
}

.education_card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.education_card h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.education_card p {
    font-style: italic;
    color: #ccc;
}
